DATABASE_URL="postgresql://USUARIO:SENHA@HOST/DATABASE?sslmode=require&channel_binding=require"
JWT_SECRET="troque-esta-chave-em-producao"
JWT_EXPIRES_IN="12h"
PORT=10000
CORS_ORIGIN="*"
INSTITUTIONAL_EMAIL_DOMAINS="acervo.edu,ulife.com.br"
